.profile__description {
  text-align: center;
  line-height: 140%;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 968px) {
  .profile__description {
    text-align: initial;
  }
}
