.skills__content {
  grid-template-columns: repeat(3, 1fr);
}

.skills__name {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}

.skills__circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: 0.75rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (max-width: 576px) {
  .skills__content {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media screen and (max-width: 968px) {
}

@media screen and (min-width: 968px) {
  .skills__content {
    grid-template-columns: repeat(3, 1fr);
    overflow: auto;
  }
}
